:root {
    --backgroundYellow: #fba64b;
    --backgroundRed: #f45c69;
    --white: #ffffff;
    --greyColor: #f4f7fc;
    --borderGray: #cccccc; /* dddddd */
    --activeBlue: #6664f1;
    --textDarkGrey: #666666;
    --todoBackgroundGrey: #e0e8f5;
}

html {
    font-size: 12px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(var(--backgroundYellow), var(--backgroundRed));
    min-height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}

.main-content {
    flex: 0 0 26rem;
}

.main-content h1 {
    color: var(--white);
    text-align: center;
}

.manager-window {
    background-color: var(--greyColor);
    border-radius: 3px;
    padding: 1rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.dateSection {
    color: var(--backgroundRed);
    font-size: 1.3rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

/* --- input section --- */
.input-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 1rem 0;
}

.input-section input {
    color: #000000;
    flex: 0 1 80%;
    padding: .5rem;
    border: 1px solid var(--borderGray);
    border-radius: 3px;
}
.input-section input:focus {
    outline-color: var(--activeBlue);
}
.input-section input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--borderGray);
    opacity: 1; /* Firefox */
    font-style: italic;
}
.input-section input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--borderGray);
}
.input-section input::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--borderGray);
}

.input-section button {
    flex: 0 1 17%;
    font-size: 2rem;
    font-weight: bolder;
    color: var(--white);
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: var(--borderGray);
}
.input-section button:focus {
    outline: none;
}
.input-section button:active {
    background-color:var(--activeBlue);
    border: none;
}

/* --- list-section --- */
.invisible {
    display: none;
}

.list-section {
    color: var(--textDarkGrey);
}


/* - list of todos - */
/* .list {
    
} */
/* - animating todo items - */
.todo--appear{
    animation: fontSizeChanger 1s 1;
}
.todo--disAppear{
    animation: fontSizeChangerReverse 1s 1;
}
@keyframes fontSizeChanger {
    0% {
        font-size: 0rem;
        transform: translate(25rem, 0);
    }
    50% {
        font-size: 1rem;
        transform: translate(25rem, 0);
    }
    100%  {
        font-size: 1rem;
        transform: translateX(0, 0);
    }
}
@keyframes fontSizeChangerReverse {
    0%  {
        font-size: 1rem;
        transform: translateX(0, 0);
    }
    50% {
        font-size: 1rem;
        transform: translate(25rem, 0);
    }
    100% {
        font-size: 0rem;
        transform: translate(25rem, 0);
    }
}


 /* - CSS of todo items - */
.pending, .completed {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.list-section h4 {
    flex: 1 0 100%;
    margin-bottom: 0rem;
}

.list .pending .pendingItemContainer, .list .completed .completedItemContainer {
    flex: 1 1 auto;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.todoContainer {
    flex: 1 1 100%;
    margin: .3rem 0;
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    word-break: keep-all;
}
.list .pending .pendingItemContainer .todoContainer {
    background-color: var(--todoBackgroundGrey);
}

.list .completed .completedItemContainer .todoContainer {
    background-color: var(--white);
    text-decoration: line-through;
}

/* - todo checkbox - */
.todoContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.todoContainer label {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
}

.checkmark {
    flex: 0 0 auto;
    height: 1.3em;
    width: 1.3em;
    margin: 0 1em 0 .5em;
    background-color: var(--white);
}
.todoLabel:hover .checkmark {
    background-color: var(--borderGray);
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* .todoLabel input:checked ~ .checkmark {
    background-color: #2196F3;
} */
.todoLabel input:checked ~ .checkmark:after {
    display: block;
    position: relative;
}  
.todoLabel .checkmark:after {
    left: .4em;
    top: .1em;
    width: .3em;
    height: .6em;
    border: solid var(--backgroundRed);
    border-width: 0 .2em .2em 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


/* - todo delete button - */
.todoContainer .todoDelButton {
    position: relative;
    flex: 0 1 auto;
    font-size: 1em;
    padding: .6em 1em;
    background-color: var(--backgroundRed);
    outline: none;
    border-radius: 0 4px 4px 0;
    color: var(--white);
    cursor: pointer;
}
.pendingItemContainer .todoContainer .todoDelButton {
    border: 1px solid var(--backgroundRed);
}
.completedItemContainer .todoContainer .todoDelButton {
    border: none;
}
.hideDelButton {
    transition: all .2s ease;
    transform: translateX(3.1em) scaleX(0);
}
.revealDelButton {
    transition: all .2s ease;
    transform: translateX(0) scaleX(1);
}

/* --- list controls --- */
.list-section .list .controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    color: #000000;
    padding: 1.5rem 3rem .5rem;
}
.list-section .list .controls span{
    cursor: pointer;
}
/* - empty list - */
.empty-list {
    text-align: center;
}

.empty-list .icon-paragraph {
    font-size: 4rem;
    margin: 4rem 0 0;
    background-image: linear-gradient(#dfe15d 20%,  #00e39f 50%, #007de3 80%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.empty-list h3 {
    margin-bottom: 10rem;
}